/* >>>>>>>>>>          universal veriables  */
:root {
    --txt-light: #fff;
    --txt-dark: black;
    --bg-color1: none;
    --border-color: black;
    --size: 50px;
    /* Sans Serif font stack is for a wide variety of screens and devices */
    --font-fam: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    --glow-color: white;
}

/* >>>>>>>>>>          pseudo class elements */
::selection {
    background-color: var(--bg-color1);
    color: var(--txt-dark)
}

/* >>>>>>>>>>  Universal Selector affect every HTML element on the page */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* >>>>>>>>>>          Element Selectors */
html {
    /* set 1rem to 10px. calc font-size = px values divided by 10 */
    font-size: 62.5%;
}

/* Formats the body of the webpage */
body {
    font-family: var(--font-fam);
    font-size: 1.75rem;
    line-height: 1.5;
    color: var(--txt-dark);
    background-image: url("../images/page-old-grunge-notebook.jpg");
    background-size: cover;
    background-position: center;
    margin: 2% auto;
}

/* >>>>>>>>>>          Class Element Selectors */
/* ******************* landing page */
.landing-page {
    /* display: flex; */
    width: 100%;
    height: 100vh;
    position: relative;
    /* outline: purple solid 1rem; */
    margin: auto;
}

/* *****************headshot container */
.headshot {
    display: flex;
    flex-direction: column;
    height: 75%;
    width: 75%;
    margin: 0 auto;
    justify-content: center;
    /* outline: black solid 1rem; */
}

.hs-img {
    border: 1.0rem var(--border-color) solid;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height:auto;
    /* outline: black solid 1rem; */
    position: relative;
    border-radius: 0.8rem;
}
.hs-img:hover {
    border: 1.0rem var(--border-color) dashed;
}
.hs-heading {
    text-align: center;
    font-size: 200%;
    padding: 1.5rem;
}
/* *****************navigation bar container */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-right: 5.5rem;
}
.nav-item {
    list-style-type: none;
    display: inline-block;
    padding: 0.5rem;
    border: 0.5rem var(--border-color) solid;
    border-radius: 0.8rem;
    /* outline: white solid 1rem; */
}
.nav-ref {
    color:var(--txt-dark);
    font-weight: bold;
    text-decoration: none;       
    padding: 0.3rem;
    /* outline: green solid 1rem; */
}

/* ************************  main content */
.content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 5.0rem;
    right: 0rem;
    background-color: var(--bg-color1);
    padding: 3%;
    align-content: center;
    outline: 2px white solid;
}

.mc-box {
    display: flex;
    min-height: 100%;
    margin: 1rem 0rem 1rem 0rem;
    color: var(--txt-dark);
    /* outline: .2rem solid var(--border-color); */
    transition: all 0.5s ease-in-out;
}

.mc-hdr {
    position: relative;
    /* outline: .2rem solid var(--border-color); */
}

.mc-hdr-item {
    background-image: url("../images/page-old-grunge-postit.jpg");
    position: relative;
    /* margin: 0.25rem 0.25rem 0.25rem 0.25rem; */
    margin-top: -1rem;
    padding: 0.5rem;
    color: var(--txt-dark);
    border: 0.2rem solid var(--border-color);
    border-radius: 0.8rem;
    transition: all 0.5s ease-in-out;
    text-align: center;
    /* outline: .2rem solid var(--border-color); */
}
.content-box {
    position: relative;
    margin: 0.55rem 0.55rem 0.55rem 0.55rem;
    width: 90%;
    color: var(--txt-dark);
    border: 0.2rem solid var(--border-color);
    justify-content: right;
    /* outline: .2rem solid var(--border-color); */
}

.TOP-box {
    position: relative;
    outline: .2rem solid green;
    }

.TOP-a {
    /* align-items: baseline; */
    background-image: url("../images/page-old-grunge-postit.jpg");
    position: absolute;
    margin: 50% 0rem 50% 0rem;
    /* height: 3.0rem; */
    /* width: 5rem; */
    /* padding: 0.5rem; */
    /* background-color: var(--outer-space); */
    color: var(--txt-dark);
    border: 0.2rem solid var(--border-color);
    border-radius: 0.8rem;
    transition: all 0.5s ease-in-out;
    /* transform: rotate(-90deg); */
    /* justify-content: center; */
    font-weight: bold;
    text-decoration: none;
    /* text-align: center; */
    /* bottom: 0%; */
    }

/* When the cursor hovers over .mc-box,             */
/* .mc-hdr-item will form a shadow inside and out   */
.mc-box:hover .mc-hdr-item,
.TOP-a:hover {
    box-shadow:inset 1rem  1rem 2.0rem var(--glow-color), 
                    -1rem -1rem 2.0rem var(--glow-color);
}

/* ************************  footer area */
.foot-area {
    padding: 3.0rem;
    clear: both;
    text-align: center;
}

.foot-heading {
    font-size: 2.0rem;
    color: var(--txt-dark); 
}

.foot-text {
    color: var(--txt-dark);
}
/* using a mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design */
@media screen and (min-width: 76.8rem) {
    /* on tablets, set columns to only be 50% of the width and not grow */
    .headshot {
      /* flex: 0 0 50%; */
      max-width: 50%;
    }

    .main-content {
      flex: 0 0 50%;
      max-width: 50%;
    }
  
    /* select the last child to grow to full width if it has space to grow */
    .main-content:last-child {
      flex-grow: 1;
    }
}
  
/* media query for larger screens */
@media screen and (min-width: 99.2rem) {
    header {
      width: 75%;
    }
  
    .card-content {
      flex: 0 0 33.333%;
      max-width: 33.333%;
    }
}